@charset "utf-8";
/* CSS Document */
#upper
{
	width:1300px;
	height:50px;
	background-color:#333;
}
#imgg
{

}
#lower
{
	height:600px;
	width:1300px;
        background-color: #2F2727; 
	background-image: url(images/radial_bg.png);
	background-position: center center;
        background-repeat: no-repeat; 


	 background: -webkit-gradient(radial, center center, 0, center center, 4	 60, from(#1a82f7), to(#2F2727));
  	 background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
	 background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
	 background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
}
#firstname
{
	width:180px;
	height:30px;
	border:4px solid #639;
	border-radius:7px;
	
}
#firstname:focus
{
	width:180px;
	height:30px;
	outline:none;
	border-color:#FFF;
	box-shadow:0 0 10px #9ecaed;
	
}
#lastname
{
	width:180px;
	height:30px;
	border:4px solid #639;
	border-radius:7px;
	
}
#lastname:focus
{
	
	outline:none;
	border-color:#FFF;
	box-shadow:0 0 10px #9ecaed;
	
}
#email
{
	width:374px;
	height:30px;
	border:4px solid #639;
	border-radius:7px;
	
}
#email:focus
{

	outline:none;
	border-color:#FFF;
	box-shadow:0 0 10px #9ecaed;
	
}
#password
{
	width:374px;
	height:30px;
	border:4px solid #639;
	border-radius:7px;
	
}
#password:focus
{
	
	outline:none;
	border-color:#FFF;
	box-shadow:0 0 10px #9ecaed;
	
}


#age
{
	width:374px;
	height:30px;
	border:4px solid #639;
	border-radius:7px;
	
}
#age:focus
{
	
	outline:none;
	border-color:#FFF;
	box-shadow:0 0 10px #9ecaed;
	
}

/*#butt
{
	width:380px;
	background-color:#FC3;
	height:45px;
    border-style:ridge;
	border-color:#606;
	border-radius:5px;
	border-bottom-width:5px;
	border-top-width:5px;
	border-left-width:5px;
	border-right-width:5px
	
}
*/
p
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#FFF;
}
#lowest
{
	background-color:#639;
	border-radius:5px;
	width:386px;
}

#butt{
    display: block;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    width: 378px;
    margin: 0px;

    color: #FFF;
    text-align: center;
    border: solid #427AA8 1px;
    border-radius: 5px;
    text-decoration: none;

    /* Gradient */
    background:#6CF;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzU5YTNlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MjdhYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #59A3E0 1%, #427AA8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5    9A3E0), color-stop(100%,#427AA8));
    background: -webkit-linear-gradient(top,  #59A3E0 1%,#427AA8 100%);
    background: -o-linear-gradient(top,  #59A3E0 1%,#427AA8 100%);
    background: -ms-linear-gradient(top,  #59A3E0 1%,#427AA8 100%);
    background: linear-gradient(to bottom,  #59A3E0 1%,#427AA8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3E0',    endColorstr='#427AA8',GradientType=0 );

    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255,     0.3);
}

#butt:hover {
    background:#9C0;
    text-decoration: none;
    filter: none;
}
#signin
{
	height:130px;
	width:240px;
	
	float:left;
	background-image: repeating-linear-gradient(90deg, transparent, transparent 50px,
      rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px,
      rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px,
      rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px),
	repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px,
      rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px,
      rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px,
      rgba(255, 206, 0, 0.25) 166px),
	repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
      rgba(143, 77, 63, 0.25) 10px),
	repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
      rgba(143, 77, 63, 0.25) 10px);
	border:4px solid #FFFFFF;
	border-radius:7px;
}
#signinquote
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size:12px;
        color:#FFF;
}
#terms
{
	font-family:"Times New Roman, Times, serif"; 
	font-size:"4px";
        color:"#FFFFFF";
}
#master
{
	height:auto;
	width:auto;
}
#error
{
	height:20px;
	width:235px;
	background-color:#F05;
	border: solid #427AA8 1px;
    	border-radius: 5px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size:12px;
        color:#FFF;
	

}

#error:hover
{
        height:20px;
        width:235px;
        background-color:#F00;
	border: solid #427AA8 1px;
    	border-radius: 7px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size:16px;
        color:#FFF;

}
