@charset "utf-8";
/* CSS Document */

body
{
	width:1280px;
	height:500px;
	font-family:Verdana,Geneva,sans-serif;
        font-size:24px;
        color:#9933CC;
	

}
#container
{
	height:600px;
        width:1270px;
        background-color: #2F2727;
        background-image: url(images/radial_bg.png);
        background-position: center center;
        background-repeat: no-repeat;


         background: -webkit-gradient(radial, center center, 0, center center, 4         60, from(#1a82f7), to(#2F2727));
         background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
         background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
         background: -ms-radial-gradient(circle, #1a82f7, #2F2727);

}
	
#banner
{
	width:1270px;
	height:50px;
	background-color:#000;
}
#welcome
{
	width:650px;
        height:50px;
	color:#fff;
	float:left;
	font-size:36px;


}
#name
{
	height:50px;
	width:380px;
	color:#fff;
	float:right;

}
#holder
{
	height:400px;
	width:1200px;
}
